# Copy this to "env" and fill in your secrets and customization:
#
# cp env.example env
# ${EDITOR} env

# The content service's API Key. Used for write actions.
export ADMIN_APIKEY=
export CONTENT_STORE_APIKEY=

# Override the content repository's content ID base. Only necessary if the content repository
# doesn't have a _deconst.json file yet.
# export CONTENT_ID_BASE=

# Path to your Jekyll site
export JEKYLL_PATH=
