# Copy this to "env" and fill in your secrets and customization:
#
# cp env.example env
# ${EDITOR} env

# Rackspace credentials.
# These are only used for Cloud Files.

export RACKSPACE_USERNAME=
export RACKSPACE_APIKEY=
export RACKSPACE_REGION=

# Set this to something different to keep content separated in different Cloud Files containers.
# Deconst uses two: one for CDN assets and one for metadata envelopes.

export CONTENT_CONTAINER=
export ASSET_CONTAINER=

# The content service's API Key. Used for write actions.
export ADMIN_APIKEY=

# Path to your Jekyll site
export JEKYLL_PATH=
